/* estilos para el contenido de body */

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* estilo para imagen */

.imgIcon{
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 150px;
}   

/* estilo para el contenido de la informacion */

.s_info_p{
    background-color: #E6E6E6;
}

header h1{
    text-align: center;
    text-transform: uppercase;
}

main{
    margin: 100px 0 100px 0;
}

.main-about{
    margin: 70px 50px;
    text-align: justify;
}

.menu{
    margin-right: 50px;
    text-align: right;
}

.menu a{
    background-color: #C4C4C4;
    border-radius: 5px;
    color: #005677;
    padding: 10px;
    text-decoration: none;
}

/*  datos-info-exp */

.info{
    background-color: #C4C4C4;  
    color: #005677;
    letter-spacing: 8px;
    padding: 5px;
    padding-left: 15px;
    text-transform: uppercase;
    word-spacing: 10px;
}

.datos_p{
    font-style: italic;
    font-weight: bold;
}

.texto{
    display: flex;
    margin-left: 20px;
}

.texto span{
    font-weight: bold;
}

/* footer */

footer{
    background-color: #005677;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10px;
}

footer a{
    color: white
}