<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Me</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    </head>
    <body>
        <header class="s_info_p">
            <img class="imgIcon" src="../img/io.jpeg" alt="imagen">
            <nav class="menu">
                <a href="../index.html">Inicio</a>
            </nav>
            <h1 class="info">About me ...</h1>
        </header>

        <main class="main-about">
            <section>
                <p>
                    ¡Hola! Mi nombre es Anahí y soy una apasionada de la tecnología. Me encanta enfrentar nuevos retos y siempre estoy buscando oportunidades para aprender y mejorar mis habilidades en diversos campos.
                </p>
                <p>
                    A lo largo de los años, he tenido la oportunidad de crecer y adquirir experiencia en la industria alimentaria, específicamente en el sector pesquero. He desempeñado el rol de auditor interno en una de las empresas más competitivas de mi ciudad, lo que me ha permitido desarrollar habilidades sólidas en este ámbito. Además, formo parte del equipo de diseño gráfico encargado de mejorar y fortalecer la imagen de la línea de productos de la empresa. Este desafío diario me ha brindado la oportunidad de desarrollarme como diseñador y ampliar mi conocimiento en esta área apasionante.
                </p>
                <p>
                    Además de mi dedicación al trabajo, disfruto de momentos de ocio con mi familia y amigos, como ir al cine o organizar reuniones en casa durante los fines de semana. También me encanta disfrutar de la playa, un lugar que me ayuda a salir de la rutina y me brinda tranquilidad para recargar enegía.
                </p>
                <p>
                    Creo firmemente en la importancia de la perseverancia y el aprendizaje continuo, valores que aplico tanto en mi vida personal como profesional. Estoy emocionada por la oportunidad de mejorar mis habilidades en el desarrollo de software, y actualmente tengo la posibilidad de hacerlo ya que soy una de las becarias de Digital House, una beca auspiciada por Globant y Mercado Libre. Esto me acerca más a hacer realidad mi deseo de formar parte de una gran compañía dedicada a la tecnología y a la creación de soluciones innovadoras.
                </p>
                <p>
                    Si tienes alguna pregunta, no dudes en contactarme. ¡Me encantaría saber de ti!
                </p>
            </section>
        </main>

        <footer>
            <span>0810 - Anahí</span>
            <a href="https://www.instagram.com/anahi2654/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://www.linkedin.com/in/amalia-anah%C3%AD-anto-alzamora-7361b3a7/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
            <a href="https://aantoa.github.io/frontEnd/" target="_blank"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a>
        </footer>

    </body>
</html>